@charset "UTF-8";

/*
Em HTML é ID = CSS # (só pode um elemento)
Em HTML é class = CSS . (pode varios elementos)
*/

body{
    background-color: rgb(166, 250, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(55, 82, 66);;
}
h1#principal{
    text-align: center;
    background-color: aqua;
}
h2{
    color: rgb(7, 155, 51);
}
.basico{
    color: rgb(7, 155, 51);
    font-weight: bold;
}
.intermediario{
    color: rgb(155, 128, 7);
}
.avançado{
    color: rgb(155, 17, 7);
}
.destaque{
    background-color: rgba(226, 226, 75, 0.685);
}